@model ProductViewModel

<div class="text-center">
    <h1 class="display-4">Products</h1>
    <div class="table-responsive-sm">
        <table class="table">
            <tbody>
                @foreach (var product in Model.Products)
                {
                    <tr>
                        <td class="p-0"><img style="max-width: 150px" src="@product.ImageUrl" alt="Product image" /></td>
                        <td class="text-left">@product.Title</td>
                        <td>@product.Price€</td>
                        <td>
                            <a class="btn btn-sm btn-success"
                               asp-controller="ShoppingCart"
                               asp-action="AddToShoppingCart"
                               asp-route-productId="@product.Id">
                                Add to Cart
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
