@{
    ViewData["Title"] = "Privacy Policy";
}

<h1 class="display-4">@ViewData["Title"]</h1>

<p> GameNet uses cookies to collect information about our visitors.<br />
    Cookies are small text files that are placed on your computer or mobile phone when you browse websites.</p>
<hr />

<h4>We collect personal information and data to:</h4>
<ul>
    <li>Give our visitors a better experience when using our site.</li>
    <li>Save your shoppingcart items so they are available the next time you log in.</li>
    <li>Save your orders so you can see what you have bought from our site.</li>
</ul>
<hr />

<h4>What information do we collect?</h4>
<p>We collect all information that is stored under your personal profile.<br />
    We also save items in your shoppingcart and your orderhistory.</p>
<hr />

<h4>How do we handle your pesronal information and data?</h4>
<p>GameNet uses security messures to ensure no unauthorized person can get access to your pesronal information.</p>
<hr />

<h4>What rights do you as user have?</h4>
<p>You have the right to:</p>
<ul>
    <li>Download all personal information that is stored about you.</li>
    <li>Have all your personal infomration deleted.</li>
</ul>
