@model ShoppingCartSummaryViewModel

@if (Model.ItemAmount > 0)
{
    <a class="nav-link text-dark" asp-controller="ShoppingCart" asp-action="DisplayShoppingCart">
        <i class="fas fa-shopping-cart"></i>
        <span id="cart-status">
            @Model.ItemAmount
        </span>
    </a>
}